<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShowMeASlogan.Properties.Settings.ITsmusDBConnectionString"
            connectionString="Data Source=2IN1LTITUDE\ITSMUSQL;Initial Catalog=ITsmusDB;Persist Security Info=True;User ID=sa;Password=5F4?bl$|@,"
            providerName="System.Data.SqlClient" />
        <add name="ShowMeASlogan.Properties.Settings.MottosConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Mottos.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ShowMeASlogan.Properties.Settings.SlogansConnectionString"
            connectionString="Data Source=2IN1LTITUDE\ITSMUS;Initial Catalog=Slogans;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>